---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {% if post.layout == "post" %}
        {{ post.title }}
        {% elsif post.layout == "projectpage" %}
        Project: {{ post.project }}
        {% endif %}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {% if post.layout == "post" %}
    {{ post.excerpt }}
    {% elsif post.layout == "projectpage" %}
    {% assign techs = post.technologies | split: ", " %}
    {% for tech in techs %}
    {% assign dctech = tech | downcase %}
    {% if dctech contains "rust" %}
    <i class="fab fa-rust"></i>
    {% elsif dctech contains "python" %}
    <i class="fab fa-python"></i>
    {% else %}
    &centerdot;
    {% endif %}
    {{ tech }}
    {% endfor %}
    <br />
    <!-- <i class="fas fa-circle"></i> -->
    {% case post.status %}
    {% when "Released" %}
      <i class="fas fa-box-open"></i>
    {% when "On hold", "Hold", "Paused" %}
      <i class="fas fa-pause"></i>
    {% when "In alpha", "Alpha" %}
      <i class="fas fa-hammer"></i>
    {% endcase %}
    {{ post.status }} <i class="fab fa-github">&nbsp;</i><a href="https://{{ post.repo }}">{{ post.repo }}</a>
    <br />
    {{ post.elevator_pitch }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
