---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {% if post.layout == "post" %}
        {{ post.title }}
        {% elsif post.layout == "projectpage" %}
        Project: {{ post.project }}
        {% endif %}
      </a>
    </h1>

    <span class="post-date">
      {{ post.date | date_to_string }}
      {% if post.technologies %}
        {% assign techs = post.technologies | split: ", " %}
        {% for tech in techs %}
          {% assign dctech = tech | downcase %}
          {% if dctech == "rust" %}
            <i class="fab fa-rust"></i>
          {% elsif dctech == "python" %}
            <i class="fab fa-python"></i>
          {% elsif dctech == "c++" %}
            <i class="devicon-cplusplus-plain"></i>
          {% elsif dctech == "c" %}
            <i class="devicon-c-plain"></i>
      {% elsif dctech == "bash" %}
        <i class="devicon-bash-plain"></i>
          {% else %}
            &centerdot;
          {% endif %}
          {{ tech }}
        {% endfor %}
      {% endif %}

    {% if post.layout == "post" %}
    </span>
      {{ post.excerpt }}
    {% elsif post.layout == "projectpage" %}
      <!-- <i class="fas fa-circle"></i> -->
      &centerdot;
      {% case post.status %}
      {% when "Released" %}
        <i class="fas fa-box-open"></i>
      {% when "On hold", "Hold", "Paused" %}
        <i class="fas fa-pause"></i>
      {% when "In alpha", "Alpha" %}
        <i class="fas fa-hammer"></i>
      {% endcase %}
      {{ post.status }}
      &centerdot;
      <a href="https://{{ post.repo }}"><i class="fab fa-github"></i> Repo</a>
    </span>
      {{ post.elevator_pitch }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
