:root {
	--background-colour: #ddd;
	--post-background-colour: #dfdfdf;
	--accent-colour: #edbb00;
}

body {
    /* https://www.magicpattern.design/tools/css-backgrounds */
    background-color: #ddd;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #b9b8b8 0, #b9b8b8 1px, #ddd 0, #ddd 50%);
}


div.sidebaricons {
	display: inline-block;
	margin-left: 30%;
	width: 10%;
	text-align: center;
}

div.sidebarlinks {
	display: inline-block;
	width: 55%;
}

div.halfsidebaricons {
	display: inline-block;
	width: 20%;
	text-align: center;
}

div.halfsidebarlinks {
	display: inline-block;
	width: 75%;
}

div.row {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

div.col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.grow {
  flex-grow: 1;
}

figure.highlight {
	margin: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#centre {
	display: block;
	margin: auto;
	width: fit-content;
}

div.sidebar {
	background-color: #efefef;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	color: black;
	/* background-color: #edbb00; */
	/* border-right: 1px black dashed; */
}

div.sidebar a {
	color: black;
}

div.sidebar h1 {
	font-family: 'Courier New', Courier, monospace;
}

hr {
	border: 2px solid black;
	border-radius: 2px;
	border-color: black;
	box-shadow: var(--accent-colour) 3px 3px;
}

figure.highlight {
	border: 2px solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 0px;
	/* box-shadow: 0.1em 0.1em 0px 0.1em black; */
	box-shadow: 0.3em 0.3em black;
	/* padding: 1em; */
	margin: auto;
	margin-bottom: 1em;
	width: calc(100% - 2em);
	max-width: fit-content;
  min-width: 50vw;
}

.standout, .colourbox, pre.mermaid {
	background-color: white;
	border: 2px solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	/* border-radius: 7px; */
	/* box-shadow: 0.1em 0.1em 0px 0.1em black; */
	box-shadow: 0.5em 0.5em black;
	padding: 1em;
	margin-bottom: 1em;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

pre.mermaid {
	width: unset;
	margin-left: 0;
	margin-right: 0;
}

.colourbox {
	background-color: var(--accent-colour);
}

.standout.special {
	margin: 1em;
	background-color: var(--accent-colour);
}

.standout p {
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
	font-style: normal;
	color: black;
}

div.post, div.page, div.related {
	background-color: #efefef;
	border: 2px solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	box-shadow: 0.5em 0.5em black;
	padding: 1em;
	color: black;

	max-width: 31cm;
	margin-left: auto;
	margin-right: auto;
}

div.post span.post-date {
	color: black;
}

a {
	color: var(--accent-colour);
	font-weight: bold;
}

div.post a {
	text-decoration: none;
}

div.sidebar a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline !important;
	color: black;
}

h1.post-title a {
	color: black;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
}

span.tags {
	color: black;
}

span.tags a {
	color: black;
}

body {
	background-color: var(--background-colour);
	color: black;
}

.pagination {
	/* background-color: #efefef; */
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1em;
	height: fit-content;
}

div.pagination .pagination-item {
	background-color: #efefef;
	font-family: 'Courier New', Courier, monospace;
	border: 2px solid black;
	padding: 1em;
}

div.pagination span.pagination-item {
	background-color: #ddd;
	color: #aaa;
	border: 0.05em solid #aaa;
	box-shadow: 5px 5px #aaa;
}

.pagination-item {
	width: 45%;
	text-align: center;
}

/* div.pagination a:hover {
	border-color: black;
	color: black;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	text-decoration: none;
	font-weight: bold;
} */

@keyframes badge-anim {
	0% { transform: scale(50%); }
	80% { transform: scale(110%); }
	to { transform: scale(100%); }
}

div.badges {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: fit-content;

	z-index: 100;
	display: flex;
	flex-direction: column;
}

div.badge {
	margin: 0.5em;
	padding: 0.5em;
	height: fit-content;
	border-radius: 0px;

	animation-name: badge-anim;
	animation-duration: 0.5s;

	background-color: white;
	border: 1px solid black;
	box-shadow: 5px 5px black;
	margin-bottom: 1em;
}

div.badge.cruk {
	background-color: white;
	border: 1px solid #271085;
	box-shadow: 5px 5px #271085;
}

div.badge.msf {
  color: white;
	background-color: black;
	border: 2px solid red;
	box-shadow: 5px 5px red;
}

div.badge.msf * {
  color: white;
}

div.badge.work {
	background-color: var(--accent-colour);
}

div.badge img {
	margin: 0px;
}

.button {
	box-shadow: 5px 5px;
}

.button:hover {
	box-shadow: 3px 3px;
	transform: translate(2px, 2px);
}

.button:active {
	box-shadow: 1px 1px;
	transform: translate(4px, 4px);
}

.button a, a.button {
	color: black;
	text-decoration: none !important;
}

pre.mermaid {
  text-align: center;
}

.mermaid .flowchart-label * {
  stroke-width: 2px !important;
  stroke: black !important;
  fill: var(--accent-colour) !important;
}

.mermaid .nodeLabel {
  color: black !important;
  font-weight: bold !important;
}
