:root {
	--background-colour: #ddd;
	--post-background-colour: #dfdfdf;
	--accent-colour: #edbb00;
}

body {
    /* https://www.magicpattern.design/tools/css-backgrounds */
    background-color: #ddd;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #b9b8b8 0, #b9b8b8 1px, #ddd 0, #ddd 50%);
}


div.sidebaricons {
	display: inline-block;
	margin-left: 30%;
	width: 10%;
	text-align: center;
}

div.sidebarlinks {
	display: inline-block;
	width: 55%;
}

div.halfsidebaricons {
	display: inline-block;
	width: 20%;
	text-align: center;
}

div.halfsidebarlinks {
	display: inline-block;
	width: 75%;
}

figure.highlight {
	margin: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#centre {
	display: block;
	margin: auto;
	width: fit-content;
}

div.colourbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	background-color: rgb(226, 226, 226);
	border-style: hidden;
	border-width: 0px;
	border-radius: 5px;
	padding: 5px;
	border: 2px solid black;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	margin-bottom: 1em;
}

div.sidebar {
	background-color: #efefef;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	color: black;
	/* background-color: #edbb00; */
	/* border-right: 1px black dashed; */
}

div.sidebar a {
	color: black;
}

div.sidebar h1 {
	font-family: 'Courier New', Courier, monospace;
}

hr {
	border: 2px solid black;
	border-radius: 2px;
	border-color: black;
	box-shadow: var(--accent-colour) 3px 3px;
}

pre, .highlight pre {
	border: 0.05em solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	padding: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.standout {
	background-color: white;
	border: 0.05em solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	padding: 1em;
	margin-bottom: 1em;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.standout.special {
	margin: 1em;
	background-color: var(--accent-colour);
}

.standout p {
	margin: 0;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

h3 {
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

h4 {
	font-family: 'Courier New', Courier, monospace;
	color: black;
}

div.post {
	background-color: #efefef;
	border: 0.05em solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	padding: 1em;
	color: black;

	max-width: 21cm;
	margin-left: auto;
	margin-right: auto;
}

div.page {
	background-color: #efefef;
	border: 0.05em solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	padding: 1em;
	color: black;
}

div.related {
	background-color: #efefef;
	border: 0.05em solid black;
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	padding: 1em;
	color: black;
}

div.post span.post-date {
	color: black;
}

a {
	color: var(--accent-colour);
	font-weight: bold;
}

div.post a {
	text-decoration: none;
}

div.sidebar a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline !important;
	color: black;
}

h1.post-title a {
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

span.tags {
	color: black;
}

span.tags a {
	color: black;
}

body {
	background-color: var(--background-colour);
	color: black;
}

.pagination {
	/* background-color: #efefef; */
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1em;
	height: fit-content;
}

div.pagination .pagination-item {
	background-color: #efefef;
	font-family: 'Courier New', Courier, monospace;
	/* border: 2px #555555 dashed; */
	/* border-radius: 1em 1em 1em 1em; */
	/* width: 3em; */
	border: 0.05em solid var(--accent-colour);
	/* border-right: 7px solid black;
	border-bottom: 7px solid black;*/
	border-radius: 7px;
	box-shadow: 0.1em 0.1em 0px 0.1em var(--accent-colour);
	padding: 1em;
	/* margin: 1em; */
}

div.pagination span.pagination-item {
	background-color: #ddd;
	color: #aaa;
	border: 0.05em solid #aaa;
	box-shadow: 0.1em 0.1em 0px 0.1em #aaa;
}

.pagination-item {
	width: 45%;
	text-align: center;
}

div.pagination a:hover {
	border-color: black;
	color: black;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
	text-decoration: none;
	font-weight: bold;
}

@keyframes badge-anim {
	0% { transform: scale(50%); }
	80% { transform: scale(110%); }
	to { transform: scale(100%); }
}

div.badges {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;

	z-index: 100;
}

div.badge {
	margin: 0.5em;
	padding: 0.5em;
	height: fit-content;
	border-radius: 14px;

	animation-name: badge-anim;
	animation-duration: 0.5s;

	background-color: white;
	border: 1px solid black;
	box-shadow: 0.1em 0.1em 0px 0.1em black;
}

div.badge.cruk {
	background-color: white;
	border: 1px solid #271085;
	box-shadow: 0.1em 0.1em 0px 0.1em #271085;
}

div.badge.work {
	background-color: var(--accent-colour);
}

div.badge img {
	margin: 0px;
}