div.sidebaricons {
	display: inline-block;
	margin-left: 30%;
	width: 10%;
	text-align: center;
}

div.sidebarlinks {
	display: inline-block;
	width: 55%;
}

div.halfsidebaricons {
	display: inline-block;
	width: 20%;
	text-align: center;
}

div.halfsidebarlinks {
	display: inline-block;
	width: 75%;
}
#centre {
	display: block;
	margin: auto;
	width: fit-content;
}

div.colourbox {
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgb(226, 226, 226);
	border-style: hidden;
	border-width: 0px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1em;
}