<div class="badges">
    <div class="badge msf button">
        <a href="https://www.justgiving.com/page/cboyle-1721657277148" target="_blank">
            Currently fundraising:
            <img src="{{ site.baseurl }}img/msf-logo.svg">
            <div class="row">
              <div>JustGiving</div>
              <div class="grow"></div>
              <i class="fas fa-running"></i>
              <i class="fas fa-running"></i>
              <i class="fas fa-running"></i>
            </div>
        </a>
    </div>
    <!-- <div class="badge work button">
        <center>
            <a href="{{ site.baseurl }}cv">
                I'm open to work!
                <i class="fas fa-briefcase"></i>
            </a>
        </center>
    </div> -->
</div>
