<div class="badges">
    <div class="badge cruk button">
        <a href="https://www.justgiving.com/fundraising/christopher-boyle2023" target="_blank">
            Currently fundraising:
            <img src="{{ site.baseurl }}img/cruk-logo.svg">
            JustGiving
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
        </a>
    </div>
    <!-- <div class="badge work button">
        <center>
            <a href="{{ site.baseurl }}cv">
                I'm open to work!
                <i class="fas fa-briefcase"></i>
            </a>
        </center>
    </div> -->
</div>
