<div class="badges">
    <div class="badge cruk">
        <a href="https://www.justgiving.com/fundraising/christopher-boyle2023">
            Currently fundraising:
            <img src="{{ site.baseurl }}img/cruk-logo.svg">
            JustGiving
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
            <i class="fas fa-running"></i>
        </a>
    </div>
    <div class="badge work">
        <center>
            <a href="https://cmjb.tech/cv">
                I'm open to work!<br />CV
                <i class="fas fa-briefcase"></i>
            </a>
        </center>
    </div>
</div>