<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <center><img src="/img/head_px_nobg.png" /></center>
      <h1>
        <a href="/{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

      

      <hr />
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
         <hr />
    <i class="fab fa-github"></i>&nbsp;<a href="https://github.com/cbosoft">github</a>&nbsp;
    <i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/cbosoft">twitter</a><br />
    <i class="fab fa-itch-io"></i>&nbsp;<a href="https://cbosoft.itch.io/">itch.io</a>&nbsp;
    <i class="fab fa-youtube"></i>&nbsp;<a href="https://www.youtube.com/channel/UC59tkVd6Uhz2x2nzGvdCCUg">youtube</a><br />
    <i class="fab fa-deviantart"></i>&nbsp;<a href="https://www.deviantart.com/cbosoft">deviantart</a>
    <hr />


    <small>
      <p>
      &copy; {{ site.time | date: '%Y' }}.&nbsp; All rights reserved.<br />
      Hyde theme by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </small>
  </div>
</div>
