<div class="sidebar">

  {% include badges.html %}

  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <center><img src="{{ site.baseurl }}img/head_px_nobg.png" /></center>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <center>
        <i class="fas fa-code"></i>
        <i class="fas fa-gamepad"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-microscope"></i>
      </center>
    </div>



    <hr />
    <div>
      <div class="halfsidebaricons">
        <i class="fas fa-home"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="{{ site.baseurl }}">Home</a>
      </div>
      <div class="halfsidebaricons">
        <i class="fas fa-book-open"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="{{ site.baseurl }}tag/projects">Projects</a>
      </div>
      <div class="halfsidebaricons">
        <i class="fas fa-info"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="{{ site.baseurl }}about">About</a>
      </div>
      <div class="halfsidebaricons">
        <i class="fas fa-file"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="{{ site.baseurl }}cv">CV</a>
      </div>
      <div class="halfsidebaricons">
        <i class="fas fa-tags"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="{{ site.baseurl }}all_tags">Tags</a>
      </div>
    </div>
    <hr />
    <div>
      <div class="halfsidebaricons">
        <i class="fab fa-github"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="https://github.com/cbosoft">github</a>
      </div>
      <div class="halfsidebaricons">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="https://twitter.com/cbosoft">twitter</a><br />
      </div>
      <!-- <div class="halfsidebaricons">
        <i class="fab fa-itch-io"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="https://cbosoft.itch.io/">itch.io</a> 
    </div>-->
      <div class="halfsidebaricons">
        <i class="fab fa-youtube"></i>
      </div>
      <div class="halfsidebarlinks">
        <a
          href="https://www.youtube.com/channel/UC59tkVd6Uhz2x2nzGvdCCUg">youtube</a>
      </div>
      <!-- <div class="halfsidebaricons">
        <i class="fab fa-deviantart"></i>
      </div>
      <div class="halfsidebarlinks">
        <a href="https://www.deviantart.com/cbosoft">deviantart</a>
      </div> -->
    </div>
    <hr />


    <small>
      <p>
        &copy; {{ site.time | date: '%Y' }}.&nbsp; All rights reserved.<br />
        Yellow theme by me, heavily adapted from Hyde theme by <a
          href="https://twitter.com/mdo">@mdo</a>.</p>
    </small>
  </div>
</div>