  <li>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.layout == "post" %}
        {{ post.title }}
        {% elsif post.layout == "projectpage" %}
        {{ post.project }}
        {% endif %}
      </a>

      {% if post.layout == "projectpage" %}
      {% assign techs = post.technologies | split: ", " %}
      {% for tech in techs %}
      {% include icon_for_tech.html %}
      {% endfor %}
      {% endif %}

      <small>{{ post.date | date_to_string }}</small>
      <br />
    {% if post.layout == "post" %}
    {{ post.excerpt }}
    {% elsif post.layout == "projectpage" %}
    {{ post.elevator_pitch }}
    {% endif %}
  </li>